*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0px;
    margin:0px;
}
body{
    background:linear-gradient(rgba(54, 135, 189, 0.9)rgba(23,136,211,0.9));
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    width:100%;
    height: 100vh;
    display:flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.login{
    border: 1px solid blueviolet;
    border-radius: 10px 60px 10px 60px;
    width: 350px;
    padding: 60px;
    margin:100px auto;
    background:rgba(129, 160, 144, 0.5);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo img{
    width: 100px;
}
.logo{
    width: 150px;
    margin:0px auto;
    margin-bottom: 30px;
    border-radius: 50%;
}
.logo img{
    width: 100%;
}
.header, .headeri{
    text-align: center;
    color:blueviolet;
    position: relative;
}
.header{
    font-weight: bolder;
}
.headeri{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 5%;
}
.loginform{
    margin-top: 0px;
}

.loginform input{
    width:100%;
    font-size: 18px;
    border:none;
    padding: 20px 20px 25px 25px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 30px;
}
.username, .password{
    display: block;
    margin-top: 20px;
}
.password{
    margin-bottom: 20px;
}
.forgot{
    text-align: right;
    color:blue;
}
.forgot a:hover{
    color:rgb(61, 2, 2);
}
.button{
    margin-top: 20px;
    margin-left: 50px;
}
.button .submit{
    font-size: 20px;
    width: 100%;
    padding: 10px 10px;
    background: blueviolet;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius:30px ;
}
.submit:hover{
    background:white;
    color:rgba(65, 9, 1, 0.658);
}
.sign-up{
    text-align: center;
    margin-top: 5px;
}
.sign-up a{
    text-decoration: none;
    color:blue;
}
a:hover{
    color:rgb(54, 1, 1);
}
#emailerror, #pwderror{
    margin-top: 0px;
    font-weight: bold;
    font-family:cursive;
}